#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #4095e5;
}

.root {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.root > nav {
  margin: 28px 0;
  flex: 0 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.root > aside {
  margin: 12px 0;
  border-radius: 20px 0 0 20px;
  border-right: 1px solid #9a9a9a;
  flex: 0 0 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #efefef;
}

.root > main {
  margin: 12px 12px 12px 0;
  border-radius: 0 20px 20px 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #ffffff;
}

.my-avatar {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: #eeeeee;
}

.top-nav {
  margin: 16px 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.top-nav li {
  height: 80px;
}

.top-nav li.active {
  background-color: #ffffff33;
}

.top-nav li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.top-nav li > a:hover,
.top-nav li > a:active {
  background-color: #ffffff11;
}

.top-nav li > a > img {
  width: 2rem;
  height: 2rem;
}

.thread-top-menu {
  flex: 0 0 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #9a9a9a;
  height: 80px;
  background-color: #cecece;
}

.thread-top-menu input,
.thread-top-menu button {
  height: 2rem;
}

.thread-list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.thread-list li {
  height: 80px;
}

.thread-list li.active {
  background-color: #ffffff99;
}

.thread-list li > a {
  padding: 0 1.2rem;
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
  height: 100%;
}

.thread-list li > a:hover,
.thread-list li > a:active {
  background-color: #ffffff77;
}

.thread-list li > a > .avatar {
  border-radius: 50%;
  flex: 0 0 2rem;
  height: 2rem;
  background-color: #eeeeee;
}

.thread-list li > a > .thread {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
}

.thread .contact-name {
  flex: 2;
  font-size: 1.2rem;
  color: #000000;
}

.thread .update-time {
  flex: 1;
  color: #9a9a9a;
}

.thread .latest-message {
  flex: 0 0 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #9a9a9a;
}

.message-top-menu {
  flex: 0 0 5rem;
  padding: 0 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #9a9a9a;
  height: 80px;
  background-color: #efefef;
}

.message-top-menu > h1 {
  font-size: 1.4rem;
}

.message-top-menu > button > img {
  width: 1.5rem;
  height: 1.5rem;
}

.message-list {
  flex: 1;
  margin: 0 1.2rem;
  padding: 1.2rem 0;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.message-list li {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 1.2rem;
  min-height: 2rem;
}

.message-list li.active {
  background-color: #ffffff99;
}

.message-list li.from-me {
  flex-direction: row-reverse;
}

.message-list li > .avatar {
  border-radius: 50%;
  flex: 0 0 2rem;
  height: 2rem;
  background-color: #eeeeee;
}

.message-list li > .message {
  flex: 0 1 auto;
  max-width: 50%;
  margin: 0 0 1.5rem;
  padding: 0.6rem 1.2rem;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  background-color: #8dfa69;
}

.compose-message {
  margin: 1.2rem;
  flex: 0 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1.2rem;
}

.compose-message > textarea {
  flex: 1;
  height: 5rem;
}

.contact-top-menu {
  flex: 0 0 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #9a9a9a;
  height: 80px;
  background-color: #cecece;
}

.contact-top-menu input,
.contact-top-menu button {
  height: 2rem;
}

.contact-list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.contact-list li {
  height: 80px;
}

.contact-list li.active {
  background-color: #ffffff99;
}

.contact-list li > a {
  padding: 0 1.2rem;
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
  height: 100%;
}

.contact-list li > a:hover,
.contact-list li > a:active {
  background-color: #ffffff77;
}

.contact-list li > a > .avatar {
  border-radius: 50%;
  flex: 0 0 2rem;
  height: 2rem;
  background-color: #eeeeee;
}

.contact-list li > a > .contact-name {
  flex: 1;
  font-size: 1.2rem;
  color: #000000;
}

.contact-detail {
  flex: 2;
  padding: 5rem 30% 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-detail > .avatar {
  border-radius: 50%;
  width: 5;
  height: 5rem;
  background-color: #eeeeee;
}

.contact-detail > .contact-name {
  margin: 1.2rem;
  font-size: 1.6rem;
}

.contact-actions {
  flex: 1;
  padding: 2rem 30%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1rem;
}

.contact-actions > .primary-button {
  flex: 2 0 100%;
  height: 2rem;
}

.contact-actions > .secondary-button {
  flex: 1;
  min-width: 6rem;
  height: 2rem;
}
